@charset "UTF-8";

@font-face {
    font-family: 'SpoqaHanSansNeo_Bold';
    src: url('../../public/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'SpoqaHanSansNeo_Bold';
}

.Contents {
    background-color: #f3f3f3;
    padding: 10px;

    .ComponentTitle {
        font-family: 'SpoqaHanSansNeo_Bold';
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .ComponentContainer {
        background-color: white;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 10px;

        .StarRate {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .InputText {
            padding: 10px;
            padding-top: 0px;
        }
    }
}
