@charset "UTF-8";

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('../../public/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo_Bold';
    src: url('../../public/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

body {
    margin: 0;
}
