
.title {
    font-size: 20px;
    font-weight: bold;
}


.markerContainer {
    position: absolute;
    transform: translateX(-50%) translateY(-100%);
}

.markerContainer .markerBubble {
    background: #fff;
    margin-bottom: 8px;
    align-items: center;
    /* padding: 3px; */
    width: 160px;
    height: 80px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    border: 1px solid black;
}

/* 말풍선 화살표 (container와 살짝 겹쳐서 말풍선이 위치한 쪽의 테두리를 덮어서 안보이게 함) */
.markerContainer .markerBubble:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    display: block;
    border-color: #fff transparent transparent transparent;
}

/* 말풍선 화살표테두리 (after 삼각형보다 약간 더 큰 화살표를 만들어서 밑에 깜) */
.markerContainer .markerBubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.markerContainer .markerBubble .titleBox{
    height: 35%;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: #FF6347;
    display: flex;
}

.markerContainer .markerBubble .titleBox .iconBox{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markerContainer .markerBubble .titleBox .iconBox .img {
    background-image: url('../../public/iconmonstr-eat-3-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80%;
    height: 80%;
}


.markerContainer .markerBubble .titleBox .restaurantName{
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.markerContainer .markerBubble .contentBox{
    height: 65%;
    width: 100%;
    font-size: 12px;
    display: flex;
}

.markerContainer .markerBubble .contentBox .imageBox{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markerContainer .markerBubble .contentBox .imageBox .img{
    background-image: url('../../public/iconmonstr-picture-thin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80%;
    height: 80%;
}

.markerContainer .markerBubble .contentBox .imageBox img {
    width: 70%;
}

.markerContainer .markerBubble .contentBox .infoBox{
    width: 60%;
    white-space: normal;
    font-size: 10px;
    text-align: left;
    align-items: center;
    display: flex;
}

.restaurantScore{
    font-size: 12px;
    padding-left: 10%;
    width:50%;
}

.locationButton{
    background-image: url('../../public/iconmonstr-crosshair-9.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    padding: 5px;
    /* background-color: transparent; */
    /* border: transparent; */
    background-color: white;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    right:10px;
    bottom: 50px;
    z-index: 100;
}

.kakaoMap{
    height: 600px;
}

.mapContainer{
    position: relative;
}