@charset "UTF-8";

@font-face {
    font-family: 'SpoqaHanSansNeo_Bold';
    src: url('../../public/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('../../public/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

.mapContainer {
    position: relative;
    padding: 10px;

    .kakaoMap {
        border: 1px solid gray;
        height: 250px;
    }
}

.SearchTextContainer {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;

    .SearchResultText {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-family: 'SpoqaHanSansNeo';
    }
}

.SearchResultContainer {
    height: 200px;
    overflow-y: scroll;
    margin: 10px;
    border: 1px solid gray;

    .SearchList {
        font-family: 'SpoqaHanSansNeo';
        padding-inline-start: 10px;
        margin: 0;

        .SearchCard {
            list-style: none;
            border-bottom: 1px solid gray;
            padding: 5px;

            .Top {
                display: flex;
                font-size: large;

                .PlaceName {
                    width: 60%;
                    color: #ff6347;
                    font-family: 'SpoqaHanSansNeo_Bold';
                }

                .Buttons {
                    width: 40%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    button {
                        background-color: #fff;
                        border: transparent;
                        border-radius: 5px;
                        font-family: 'SpoqaHanSansNeo';
                        margin-left: 5px;
                    }

                    .DivideLine {
                        border-right: 1px solid gray;
                        padding-top: 4%;
                        padding-bottom: 4%;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .Url {
                        background-image: url('../../public/kakao_map_logo.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 110%;
                        padding: 5%;
                    }
                }
            }

            .Content {
                display: flex;
                flex-direction: column;

                .Category {
                    color: #666;
                }
            }
        }

        .SearchCard:nth-last-of-type(1) {
            border-bottom: none;
        }

        .Page {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'SpoqaHanSansNeo_Bold';
        }
    }
}

.SearchResultContainer::-webkit-scrollbar {
    width: 10px;
}

.SearchResultContainer::-webkit-scrollbar-track {
    background: white;
}

.SearchResultContainer::-webkit-scrollbar-thumb {
    background: #ff6347;
    border-radius: 10px;
    height: 20%;
}
