@charset "UTF-8";

@font-face {
    font-family: 'SpoqaHanSansNeo_Bold';
    src: url('../../public/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('../../public/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

.mapContainer {
    position: relative;
    .kakaoMap {
        height: 600px;
    }
}

.SearchTypeContainer {
    .SelectButton {
        margin-bottom: 5px;
    }

    .SelectButton input[type='radio'] {
        display: none;
    }

    .SelectButton input[type='radio'] + label {
        border: 1px solid black;
        border-radius: 7px;
        margin: 2px;
        padding: 5px;
    }

    .SelectButton input[type='radio'] + label {
        background-color: white;
        color: black;
    }

    .SelectButton input[type='radio']:checked + label {
        background-color: gray;
        color: white;
    }
}

.SearchResultContainer {
    height: 200px;
    overflow: auto;

    .SearchList {
        font-family: 'SpoqaHanSansNeo';
        padding-inline-start: 10px;
        .SearchCard {
            list-style: none;
            border: 1px solid gray;
            border-bottom: none;
            .Top {
                display: flex;
                font-size: large;
                .PlaceName {
                    color: #ff6347;
                    font-family: 'SpoqaHanSansNeo_Bold';
                }
                .GoToMap {
                }
            }
            .Content {
                display: flex;
                flex-direction: column;
                .Category {
                    color: #666;
                }
                .Address {
                }
                .Url {
                }
                .Phone {
                }
                .Button {
                }
            }
        }
        .SearchCard:nth-last-of-type(1) {
            border: 1px solid gray;
        }
        .Page {
            display: flex;
            align-items: center;

            .LeftButton {
            }
            .PageNumber {
            }
            .RightButton {
            }
        }
    }
}
